<header>
    <h2>Add Media to Watch</h2>
</header>
<form (ngSubmit) = "submitingData(form.value)"  [ngFormModel] = "form" >
    <ul>
        <li>
            <label for="medium">Medium</label>
            <select name="medium" id="medium" required ngControl="medium">
                <option *ngFor="#med of lookupLists.mediums" value="{{med }}">{{med}}</option>
              
            </select>
        </li>
        <li>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required 
               ngControl="name" 
               #name="ngForm" >
               <div *ngIf="name.errors?.pattern" class="error">
                   Name has Invalid Characters
               </div>
        </li>
        <li>
            <label for="category">Category</label>
            <select name="category" id="category" ngControl="category">
                <option *ngFor="#cat of catList" value="{{ cat | lowercase}}">{{ cat }}</option>
                
            </select>
        </li>
        <li>
            <label for="year">Year</label>
            <input type="text" name="year" id="year" maxlength="4"  
            ngControl="year"
            #year = "ngForm"
            >
            <div *ngIf="year.errors?.year" class="error" >
                must be between {{year.errors?.year.min }} and {{ year.errors?.year.max }}
                Year you have entered is <b>{{year.errors?.year.msg}}</b>

            </div>
        </li>
    </ul>
    <button type="submit" [disabled]="!form.valid">Save</button>
</form>