<!--
<nav>
    <a (click)="getMediaItems('')" title="All Movies" >
        <img src="media/04.png" class="icon" />
    </a>
    <a (click)="getMediaItems('Movies')" title="Movies">
        <img src="media/03.png" class="icon" />
    </a>
    <a (click)="getMediaItems('Series')" title="Series">
        <img src="media/02.png" class="icon" />
    </a>
</nav>
-->
<heading>
    <h3>Categories List:</h3>
   <div [innerHTML] = "mediaItems | catList " >   </div>
</heading>
<section>
    
    <br /><br />
   <!-- <h3 *ngIf = "mediaItems">Items Check</h3> -->
    <my-media-item
        *ngFor = "#item of mediaItems"
        [Movie] = "item"
        [ngClass] = "{'medium-movies': item.medium==='Movies', 'medium-series': item.medium ==='Series'}"
        (deleted)="onMediaItemDeleted($event)">loading... {{ item.name }}</my-media-item>

<!--
    <h3 *ngIf = "mediaItems">Items 2 Check</h3>
 <div *ngFor="#film of mediaItems" >loading... {{ film.name }}</div>
 -->
</section>

<footer>
    <a [routerLink]="['../AddMediaItem']">
        <img src="media/01.png" class="icon">
    </a>
</footer>